/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.footer-col {
    margin-bottom: 5vh;
}

.footer-col h3{
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 3em;
}

/* navbar styling */

.navbar-brand {
    font-size: 2em;
}

.navbar-right {
    font-size: 1.5em;
}

/* Header Style */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url("img/bg_web2.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 5vh;
}

.text-vertical-center {
    font-family: "Georgia", sans-serif;
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
     margin: 0;
     padding: 0;
     font-size: 4.5em;
}

.hr {
    border-top: 2px solid black;
    width: 20%;
}

/* Custom Button Styles */

.btn-social {
    font-size: 2.5em;
}

.list-unstyled {
    font-size: 18px;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom sizes for the different sections */

#About {
    padding: 50px 0;
    margin-bottom: 5vh;
}

#Resume {
    padding: 50px 0;
    margin-bottom: 5vh;
}

#Portfolio {
    padding: 50px 0;
}

#Portfolio div.thumbnail {
    margin-top: 5vh;
}

.project1.button {
    display: none;
}

.escape.button {
    display: none;
}

#Contact {
    padding: 50px 0;

}

.copyright {
    font-size: 1.5em;
}

/* Whack-a-Mole CSS */

.moleProject {
    display: none;
    margin-bottom: 5vh;
}

.eye {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 2px;
    background-color: orange;
    border-radius: 50%;
}

#mole {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 30px 30px 0px 0px;
    background-color: rebeccapurple;
}

#eyeline {
    position: absolute;
    left: 8px;
    top: 10px;
}

#board {
    position: relative;
    border: 5px solid black;
    background-color: navy;
    height: 50vh;
}

h1 {
    text-align: center;
    font-family: 'Georgia', sans-serif;
}